<section class="policy-product">
  <nb-card>
    <div class="containers">
      <div class="bg-position">
        <owl-carousel-o [options]="policyOptions">
          <ng-template carouselSlide>
            <div class="policy-p-card">
            <div class="policy-img">
              <img src="/assets/cover3.jpg" alt="">
            </div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet animi asperiores temporibus esse possimus tempore placeat eos corrupti a neque harum, aliquam quod iure qui voluptatum quaerat aperiam? Ipsam, facilis?</p>
            <a href="" class="read-more">Read more</a>
          </div>
        </ng-template>
          <ng-template carouselSlide>
            <div class="policy-p-card">
            <div class="policy-img">
              <img src="/assets/cover1.jpg" alt="">
            </div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet animi asperiores temporibus esse possimus tempore placeat eos corrupti a neque harum, aliquam quod iure qui voluptatum quaerat aperiam? Ipsam, facilis?</p>
            <a href="" class="read-more">Read more</a>
          </div>
        </ng-template>
          <ng-template carouselSlide>
            <div class="policy-p-card">
            <div class="policy-img">
              <img src="/assets/cover2.jpg" alt="">
            </div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet animi asperiores temporibus esse possimus tempore placeat eos corrupti a neque harum, aliquam quod iure qui voluptatum quaerat aperiam? Ipsam, facilis?</p>
            <a href="" class="read-more">Read more</a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="policy-p-card">
          <div class="policy-img">
            <img src="/assets/cover1.jpg" alt="">
          </div>
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet animi asperiores temporibus esse possimus tempore placeat eos corrupti a neque harum, aliquam quod iure qui voluptatum quaerat aperiam? Ipsam, facilis?</p>
          <a href="" class="read-more">Read more</a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="policy-p-card">
        <div class="policy-img">
          <img src="/assets/cover1.jpg" alt="">
        </div>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet animi asperiores temporibus esse possimus tempore placeat eos corrupti a neque harum, aliquam quod iure qui voluptatum quaerat aperiam? Ipsam, facilis?</p>
        <a href="" class="read-more">Read more</a>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="policy-p-card">
      <div class="policy-img">
        <img src="/assets/cover1.jpg" alt="">
      </div>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet animi asperiores temporibus esse possimus tempore placeat eos corrupti a neque harum, aliquam quod iure qui voluptatum quaerat aperiam? Ipsam, facilis?</p>
      <a href="" class="read-more">Read more</a>
    </div>
  </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </nb-card>
  
</section>





